body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f3f4f6; 
    font-family: 'Arial', sans-serif;
}

#calculator {
    background-color: #1e1e1e;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2rem;
    text-align: right;
    background-color: #2b2b2b;
    color: white;
    border: none;
    border-radius: 15px 15px 0 0;
}


#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

button {
    padding: 20px;
    border-radius: 8px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.operator-btn {
    background-color: #ff9500; 
}

button:hover {
    background-color: #444;
}

button:active {
    background-color: #555; 
    transform: scale(0.95);
}


@media only screen and (min-width: 600px) {
    .col-s-1 { width: 8.33%; }
}

@media only screen and (min-width: 768px) {
    .col-1 { width: 8.33%; }
}
